<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Better Teams Home</title>
    <!-- plugins:css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/www/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/www/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/www/css/chat.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/www/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/www/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center text-white display-3" style="background-color: #934ff5">
                <strong>BetterTeams</strong>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">

                <ul class="navbar-nav navbar-nav-left col-sm">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="Dropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div id="currentRoom" class="nav-profile-text">
                                <p class="mb-1 text-white"> My Rooms </p>
                            </div>
                        </a>
                        <div id="roomNamesList" class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                            </a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
             
                </ul>
                <div class="col-sm"></div>
                <ul class="navbar-nav navbar-nav-right col-sm">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">

                            <div class="nav-profile-text">
                                @*TODO SHOW ACTIVE USER HERE*@
                                <p class="mb-1 text-white display-5">@User.Identity.Name</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="@Url.Action("MyProfile","Home")">
                                <i class="mdi mdi-account-settings-variant mr-2 text-primary"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            
                            <a data-toggle="modal" href="#myModal" data-target="#contactModal" id="myBtn" class="btn btn-fw dropdown-item">
                                <i class=" mdi mdi-message-draw mr-2 text-primary"></i>
                                Contact Us
                            </a>
                            <a class="dropdown-item" href="@Url.Action("About", "Home")">
                                <i class=" mdi mdi-information mr-2 text-primary"></i>
                                About Us
                            </a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">
                                <i class="mdi mdi-logout-variant mr-2 text-primary"></i>
                                Signout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>


                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>

                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul id="list-users" class="nav">
                <li class="align-text-center text-white display-5 mr-2">
                    <i class="mdi mdi mdi-format-list-bulleted mr-2 "></i><a class="align-text-center text-white display-5 mr-2" href="/home/index">Users</a>
                </li>
                </ul>

                <ul id="list-rooms"  class="nav">
                <li class="align-text-center text-white display-5 mr-2">
                    <i class="mdi mdi mdi-format-list-bulleted mr-2 "></i><a class="align-text-center text-white display-5 mr-2" href="/home/allrooms">Rooms</a>
                </li>
                </ul>
            </nav>
            
            <!-- Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="ContactUs" aria-hidden="true">
                <div class="modal-dialog modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalCenterTitle">Send Us a Message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-content ">
                                <form id="contactForm " class="contact-form">

                                    <div class="form-group row">
                                        <label for="Email" class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" id="email" name="Email" placeholder="Email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="Message" class="col-sm-3 col-form-label">Message</label>
                                        <div class="col-sm-9">
                                            <textarea type="text" class="form-control" id="message" name="Message" rows="5" placeholder="Your message..."></textarea>
                                        </div>
                                    </div>

                                    <button id="contact-form-submit" type="submit" class="btn btn-gradient-primary btn-success" data-dismiss="modal">Submit</button>
                                    <button class="btn btn-gradient-primary" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
           

            @RenderBody()
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/www/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/www/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/www/vendors/js/off-canvas.js"></script>
    <script src="~/www/vendors/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/www/vendors/js/dashboard.js"></script>
    <!-- End custom js for this page-->
    <!--Chat's script-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#myBtn').click(function (e) {
            e.preventDefault();
            $('#contactModal').modal();
        });
        $(function () {
            $('#contact-form-submit').on('click', function (e) {
                e.preventDefault();

                ContactMessage = new Object();
                ContactMessage.SenderEmail = $('#Email').val();
                ContactMessage.Text = $('#message').val();

                $.ajax({
                    type: "POST",
                    url: "/Home/ContactUs",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(ContactMessage),
                    success: function () {
                        
                        alert('Thank you for contacting us!');
                        
                    }, 
                    error: function (request, message, error) {
                        console.log(request);
                        console.log(message);
                        console.log(error);
                        alert('Error, please try again.');
                    }
                });
                return false;
            });
        });

    </script>

    <script>

        var getUserRooms = () => {
            $.ajax({
                url: '/Home/GetUserRooms',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    var currentRoom = $('#currentRoom');
                    //$(data).map(function (index, name) {
                    //    currentRoom.append(`<p class="mb-1 text-white"> ${data[0].name} </p>`)

                    //});
                    var userList = $('#roomNamesList');
                    $(data).each(function (index, name) {
                        userList.append(`<a class="dropdown-item" href="url"><i class="mdi mdi-login-variant mr-2 text-primary"></i>${name} </a >`);
                    });



                },
                error: function (request, message, error) {
                    console.log(request);
                    console.log(error);
                    console.log(message);
                }

            });
        }
        var getUsers = () => {
            var userNames = [];
            $.ajax({
                url: '/Home/GetUsers',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    var userList = $('#list-users');
                    $(data).each(function (index, username) {
                        userList.append(`<a id="${index}" onclick="setUser(this.id)" value="${username}" class="nav-link mdi mdi-contacts menu-icon mb-1 text-white" href="#" > ${username} </a >`);
                    });

                },
                error: function (request, message, error) {
                    console.log(request);
                    console.log(error);
                    console.log(message);
                }

            });
        }

        var getRooms = () => {
            
            $.ajax({
                url: '/Home/GetRooms',
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    var roomList = $('#list-rooms');
                    $(data).each(function (index, name) {
                        roomList.append(`<a id="${name}" onclick="setRoom(this.id)" value="${name}" href="#" class="nav-link mdi mdi-chevron-right menu-icon mb-1 text-white">${name} </a >`);
                    });
                },
                error: function (request, message, error) {
                    console.log(request);
                    console.log(error);
                    console.log(message);
                }

            });
        }

        //};
        //var getUsers = () => {
        //    var users = [];
        //    $.ajax({
        //        url: '/Home/GetUsers',
        //        type: 'GET',
        //        dataType: 'json',
        //        async: false,
        //        success: function (List) {
        //            userListSuccess(List);

        //        },
        //        error: function (request, message, error) {
        //            console.log(request);
        //            console.log(error);
        //            console.log(message);
        //        }

        //    });

        //    var userListSuccess = (List) => {
        //        $.each(List, (index, name) => {
        //            users[index] = name
        //        });
        //        var numberOfUsers = users.length;
        //        for (var i = 0; i < numberOfUsers; i++) {
        //            userItem.innerHtml += `<li> ${users[i]} </li>`;
        //        }
        //        console.log(users)
        //    };

        //};
        window.addEventListener("load", () => {
            getUserRooms();
            getUsers();
            getRooms();
        });
    </script>
    @RenderSection("scripts", false)
    @RenderSection("postscripts", false)
</body>

</html>
