@model BetterTeamsWebApp.Models.ViewModels.LoginVM
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Better Teams Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/www/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/www/vendors/css/vendor.bundle.base.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/www/css/style.css">
    <link href="~/www/css/LoginBackground.css" rel="stylesheet" />

    <!-- endinject -->
    <link rel="shortcut icon" href="~/www/images/favicon.png" />

</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div id="fixedBack" class="content-wrapper d-flex align-items-center auth">
                <div id="back" class="row w-100">
                    <div id="formback" class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div id="BTlogo" class="brand-logo">
                                <img src="~/www/images/BetterTeamsLogo3.jpg" />

                            </div>
                            <h4>Hello! welcome to Better Teams</h4>
                            <h6 class="font-weight-light">Sign in to continue.</h6>
                            <form method="post" action="@Url.Action("Login","Auth")" class="pt-3">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div id="Username" class="form-group" data-content="Your Username" data-animation="true">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", placeholder = "Username" })
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>
                                <div id="Password" class="form-group" data-content="Your Password" data-animation="true">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                                <div id="RememberMe" class="form-check" data-content="Check if you want to stay signed in" data-animation="true">
                                    <label class="form-check-label text-muted">
                                        @Html.CheckBoxFor(model => model.RememberMe, htmlAttributes: new { @class = "form-check-input", @Id = "checkboxRemember" })
                                        Keep me signed in
                                    </label>
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Login</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <a href="@Url.Action("ForgotPassword", "Auth")" class="auth-link text-black">Forgot password?</a>
                                </div>
                                <div class="mt-5">
                                    Don't have an account? <a class="text-primary font-weight-medium " href="@Url.Action("Register", "Auth")"> <strong>Create</strong></a>
                                </div>

                                <div class="btn-group mt-4 mb-1 form-inline d-flex font-weight-light">

                                    <a data-toggle="modal" data-target="#contactModal" href="#myModal" id="myBtn" class="btn btn-inverse-light btn-fw w-50"><strong>Contact Us</strong></a>
                                    <a href="@Url.Action("About", "Home")" class="btn btn-inverse-light btn-fw w-50"><strong>About Us</strong></a>

                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- Trigger/Open The Modal -->



        </div>

        <!-- Modal -->
        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="ContactUs" aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalCenterTitle">Send Us a Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-content ">
                            <form id="contactForm " class="contact-form">

                                <div class="form-group row">
                                    <label for="Email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" id="email" name="Email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="Message" class="col-sm-3 col-form-label">Message</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" id="message" name="Message" rows="5" placeholder="Your message..."></textarea>
                                    </div>
                                </div>

                                <button id="contact-form-submit" type="submit" class="btn btn-gradient-primary btn-success" data-dismiss="modal">Submit</button>
                                <button class="btn btn-gradient-primary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/www/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/www/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://unpkg.com/tooltip.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/www/vendors/js/off-canvas.js"></script>
    <script src="~/www/vendors/js/misc.js"></script>
    <script>
        $(function () {
            $("#Username, #Password, #RememberMe").popover({
                trigger: 'hover'

            });
        });
    </script>
    <script>
        $('#myBtn').click(function (e) {
            e.preventDefault();
            $('#contactModal').modal();
        });
        $(function () {
            $('#contact-form-submit').on('click', function (e) {
                e.preventDefault();

                ContactMessage = new Object();
                ContactMessage.SenderEmail = $('#Email').val();
                ContactMessage.Text = $('#message').val();

                $.ajax({
                    type: "POST",
                    url: "/Home/ContactUs",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(ContactMessage),
                    success: function () {

                        alert('Thank you for contacting us!');

                    },
                    error: function (request, message, error) {
                        console.log(request);
                        console.log(message);
                        console.log(error);
                        alert('Error, please try again.');
                    }
                });
                return false;
            });
        });

    </script>
    <!-- endinject -->
</body>

</html>
